<?xml version="1.0"?>

<robot name="mobile_manipulator" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="tb3_ns" default=""/>
    <xacro:arg name="arm_prefix" default="open_manipulator_"/>
    <xacro:include
        filename="$(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf"/>
    <xacro:include
        filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x.urdf.xacro"/>

    <xacro:open_manipulator_x
        prefix="$(arg arm_prefix)"/>

    <joint name="arm_mount_joint" type="fixed">
        <parent link="$(arg tb3_ns)base_link"/>
        <child link="$(arg arm_prefix)link1"/>
        <origin xyz="-0.06 0 0.14" rpy="0 0 0"/>
    </joint>

    <gazebo reference="base_scan">
        <sensor name="lidar" type="ray">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>5</update_rate>
        <ray>
            <scan>
            <horizontal>
                <samples>360</samples>
                <resolution>1</resolution>
                <min_angle>0.0</min_angle>
                <max_angle>6.28</max_angle>
            </horizontal>
            </scan>
            <range>
            <min>0.12</min>
            <max>3.5</max>
            <resolution>0.015</resolution>
            </range>
        </ray>
        <plugin name="gazebo_ros_lidar_controller" filename="libgazebo_ros_ray_sensor.so">
            <ros>
            <remapping>~/out:=scan</remapping>
            </ros>
            <output_type>sensor_msgs/LaserScan</output_type>
            <frame_name>base_scan</frame_name>
        </plugin>
        </sensor>
    </gazebo>
    <gazebo>
        <plugin name="turtlebot3_diff_drive" filename="libgazebo_ros_diff_drive.so">
            <update_rate>30</update_rate>
            <left_joint>wheel_left_joint</left_joint>
            <right_joint>wheel_right_joint</right_joint>
            <wheel_separation>0.287</wheel_separation>
            <wheel_diameter>0.066</wheel_diameter>
            <max_wheel_torque>20</max_wheel_torque>
            <max_wheel_acceleration>1.0</max_wheel_acceleration>
            <command_topic>cmd_vel</command_topic>
            <odometry_topic>odom</odometry_topic>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_footprint</robot_base_frame>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>false</publish_wheel_tf>
        </plugin>
    </gazebo>

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        
        <joint name="open_manipulator_joint1">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="open_manipulator_joint2">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="open_manipulator_joint3">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="open_manipulator_joint4">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="open_manipulator_gripper_left_joint">
            <command_interface name="position">
                <param name="min">-0.010</param>
                <param name="max">0.019</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>/home/smudhan/ros2_ws/src/mobile_manipulator_description/config/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <!-- <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find mobile_manipulator_description)/config/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo> -->


</robot>